body {
  background-color: #ebecf0;
}

input[type=text],
input[type=password],
input[type=date],
select,
textarea {
  padding: 10px;
  background-color: #e9efff;
  border: 1px solid #e1e1e1;
}

input[type=checkbox] {
  position: relative;
  width: 20px;
  height: 20px;
  appearance: none;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  cursor: pointer;
}
input[type=checkbox]:disabled {
  background-color: #d8d8d8;
  cursor: not-allowed;
}
input[type=checkbox]:checked {
  background-color: #7ed957;
}
input[type=checkbox]:checked::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 5px;
  transform: rotate(50deg);
  width: 8px;
  height: 12px;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.headMenu {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.userMsgMenu {
  margin-right: 15px;
}
.userMsgMenu > li {
  position: relative;
}
.userMsgMenu .userMsgMenu__button {
  display: block;
  text-align: center;
}
.userMsgMenu .userMsgMenu__icon {
  margin-bottom: 2px;
  width: 25px;
  height: auto;
}
.userMsgMenu .userMsgMenu__text {
  display: block;
  font-size: 10px;
}
.userMsgMenu .userMsgMenu__badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -5px;
  right: 0px;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: #f00;
  font-size: 10px;
  font-weight: bold;
}

.userNameMenu .userNameMenu__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 30px;
  background-color: #e5af24;
  border-radius: 999em;
  font-size: 14px;
}
.userNameMenu .userNameMenu__button::after {
  content: "";
  display: inline-block;
  margin-left: 8px;
  width: 0.7em;
  height: 0.8em;
  background-color: #fff;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  rotate: 90deg;
}

.containerMenu .menu > li:not(:last-child) {
  border: 0;
}
.containerMenu .menu > li > a:hover {
  text-decoration: underline;
}

.infoBar {
  background-color: #666;
  color: #fff;
}

.infoBarTitle h2 {
  border-radius: 999em;
}

.dropdown-menu ul.dropdown-menu__list {
  width: 200px;
  padding: 0;
  left: unset;
  top: 40px;
  right: 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.dropdown-menu ul.dropdown-menu__list > li:not(:last-child) {
  margin-bottom: 0;
}
.dropdown-menu ul.dropdown-menu__list > li > a {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  color: #484848;
  text-decoration: none;
  text-align: left;
}
.dropdown-menu ul.dropdown-menu__list > li > a:hover {
  background-color: #e9efff;
  color: #011d70;
}
.dropdown-menu ul.dropdown-menu__list > li > a::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url(../img/circle-chevron-right-solid-navy.svg) no-repeat;
  background-size: contain;
}

.mainContentsInner {
  width: 100%;
}

.containerUserDetail {
  margin-left: 40px;
}

.secTitle {
  margin-bottom: 0;
}

.title-main > h2 {
  padding-left: 10px;
  margin: 10px 0 18px;
  font-size: 22px;
  font-weight: bold;
  border-left: 4px solid #011d70;
}

.modalTitle h2 {
  margin-left: 20px;
  text-align: left;
  font-weight: bold;
}

.tab_box .tab_btn,
.tab_box_no .tab_btn,
.tab_box_no2 .tab_btn {
  font-weight: bold;
  border-radius: 6px 6px 0 0;
}
.tab_box .tab_btn:nth-child(3n+1),
.tab_box_no .tab_btn:nth-child(3n+1),
.tab_box_no2 .tab_btn:nth-child(3n+1) {
  background-color: #011d70;
}
.tab_box .tab_btn:nth-child(3n+2),
.tab_box_no .tab_btn:nth-child(3n+2),
.tab_box_no2 .tab_btn:nth-child(3n+2) {
  background-color: #7798f0;
}
.tab_box .tab_btn:nth-child(3n+3),
.tab_box_no .tab_btn:nth-child(3n+3),
.tab_box_no2 .tab_btn:nth-child(3n+3) {
  background-color: #aac1ff;
}
.tab_box .tab_btn.active,
.tab_box_no .tab_btn.active,
.tab_box_no2 .tab_btn.active {
  color: #fff;
  background-color: #e7af25;
}

.secContentsInner {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.secContentsInner .modalTitle {
  margin-left: 40px;
}
.secContentsInner table {
  width: 100%;
  font-size: 12px;
}
.secContentsInner table tr:nth-child(even) td {
  background-color: #f2f6ff;
}
.secContentsInner table tr:nth-child(odd) td {
  background-color: #fafafa;
}
.secContentsInner table th {
  background-color: #fafafa;
  border-bottom: none;
}
.secContentsInner table th:nth-child(8) {
  width: 9%;
}
.secContentsInner table th,
.secContentsInner table td {
  padding: 20px 8px;
}
.secContentsInner table th:has(.btnContainer),
.secContentsInner table td:has(.btnContainer) {
  padding-right: 10px;
}
.secContentsInner table td > a {
  text-decoration: underline;
}
.secContentsInner table td > a:hover {
  text-decoration: none !important;
}

.thInnerWrap {
  padding: 5px;
  background-color: #ececec;
  border-radius: 5px;
}

.tbl-member-5th th:nth-child(2) {
  width: 6%;
}

.contentsTitle-container .linkList {
  margin-bottom: 10px;
  margin-left: auto;
}
.contentsTitle-container .linkList a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 999em;
  background-color: #e5af24;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.contentsTitle-container .linkList a::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 8px;
  mask-image: url(../img/circle-chevron-right-solid.svg);
  background-size: contain;
  background-color: #fff;
}

.tbl-mypage-newuser th:nth-child(9) {
  width: 8%;
}

.userDetailMain .name {
  font-weight: bold;
}
.userDetailMain .status {
  font-weight: bold;
}
.userDetailMain .status .off {
  background-color: #e5af24;
  padding: 5px 25px;
}

.formContainer {
  align-items: flex-start;
}
.formContainer.mg-ajust-midashi {
  padding: 10px 0;
}
.formContainer .item-name {
  margin-left: 20px;
  padding: 5px 0;
  font-weight: bold;
}
.formContainer .item-name .required {
  color: red;
}
.formContainer .item-input {
  padding: 5px 0;
}
.formContainer .item-input input[type=text],
.formContainer .item-input select,
.formContainer .item-input textarea {
  padding: 10px;
  background-color: #e9efff;
  border: 1px solid #e1e1e1;
}
.formContainer div[style="margin-left: 15px;"] {
  margin-left: 0 !important;
}
.formContainer div[style="font-size:16px; font-weight: bold;"] {
  margin: 10px 0;
}
.formContainer.mg-ajust {
  align-items: center;
}

.radioList {
  flex-wrap: wrap;
}

.cate-list label,
.radioList label,
.check-box-btn label,
.label-checkbox {
  margin: 5px 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  padding: 5px;
  text-align: center;
  background-color: #e9efff;
  cursor: pointer;
  line-height: 1.1;
  font-size: 12px;
  font-feature-settings: "palt";
  border: 1px solid #e1e1e1;
  border-radius: 3px;
}
.cate-list label input[type=checkbox],
.radioList label input[type=checkbox],
.check-box-btn label input[type=checkbox],
.label-checkbox input[type=checkbox] {
  display: none;
}
.cate-list label:has(input[type=checkbox]:checked),
.radioList label:has(input[type=checkbox]:checked),
.check-box-btn label:has(input[type=checkbox]:checked),
.label-checkbox:has(input[type=checkbox]:checked) {
  background-color: #7ed957;
  color: #ffffff;
}

.cate-list > li {
  vertical-align: middle;
}
.cate-list label {
  margin: 5px 3px 5px 0;
  padding: 0;
}

.squareBtn,
.squareGrayBtn {
  background-color: #e5af24;
  border-radius: 999em;
}

.btnContainer .squareBtn,
.btnContainer .squareGrayBtn {
  container-type: inline-size;
  position: relative;
  font-weight: bold;
  font-size: 16px;
}
td .btnContainer .squareBtn,
td .btnContainer .squareGrayBtn {
  padding: 5px;
  font-size: 13px;
}

@container (max-width: 100px) {
  .btnContainer .squareBtn,
  .btnContainer .squareGrayBtn {
    padding: 10px 0;
    font-size: 14px;
  }
}
.btnContainer .squareBtn[href=""],
.btnContainer .squareGrayBtn[href=""] {
  background-color: #ccc;
}
.btnContainer .squareBtn::after,
.btnContainer .squareGrayBtn::after {
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  right: 15px;
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  mask-image: url(../img/circle-chevron-right-solid.svg);
  background-size: contain;
  background-color: #fff;
}
@container (max-width: 150px) {
  .btnContainer .squareBtn::after,
  .btnContainer .squareGrayBtn::after {
    display: none;
  }
}
.btnContainer .btn-navy {
  background-color: #011d70;
}

.formContainer + .btnContainer {
  margin: 20px 0;
}

.secContents-mb {
  margin-bottom: 0;
}

.jobToggle label[for=c_ch_cas] {
  font-size: 16px;
  margin-bottom: 15px;
}
.jobToggle input[type=checkbox] + label:before {
  background: #e9efff;
}

.jobToggleList {
  font-size: 16px;
}
.jobToggleList.leftAlign {
  justify-content: space-between;
}

#del_lavel {
  font-size: 16px;
  cursor: pointer;
}

.block-ttl {
  margin: 15px 0 2px;
}
.block:first-child .block-ttl {
  margin-top: 0px;
}

.check-box-btn > label {
  margin-right: 5px;
}
.check-box-btn:has(input[type=checkbox]) {
  display: flex;
  flex-wrap: wrap;
}

.tab_box .tab_btn.active {
  background-color: #e5af24;
  color: #fff;
  font-weight: bold;
}

.messageBoxTbl,
.tbl-claim-every,
.tbl-user-contact,
.tbl-claim-7th {
  width: 100%;
}
.messageBoxTbl tr:nth-child(even) td,
.tbl-claim-every tr:nth-child(even) td,
.tbl-user-contact tr:nth-child(even) td,
.tbl-claim-7th tr:nth-child(even) td {
  background-color: #f2f6ff;
}
.messageBoxTbl tr:nth-child(odd) td,
.tbl-claim-every tr:nth-child(odd) td,
.tbl-user-contact tr:nth-child(odd) td,
.tbl-claim-7th tr:nth-child(odd) td {
  background-color: #fafafa;
}
.messageBoxTbl th,
.tbl-claim-every th,
.tbl-user-contact th,
.tbl-claim-7th th {
  background-color: #fafafa;
  border-bottom: none;
}
.messageBoxTbl th,
.messageBoxTbl td,
.tbl-claim-every th,
.tbl-claim-every td,
.tbl-user-contact th,
.tbl-user-contact td,
.tbl-claim-7th th,
.tbl-claim-7th td {
  padding: 10px 5px;
}

.messageBoxTbl {
  border-bottom: 1px solid #ccc;
}
.messageBoxTbl tr:has(.receiveName) {
  border-top: 1px solid #ccc;
}
.messageBoxTbl .sendName,
.messageBoxTbl .sendName + th,
.messageBoxTbl .sendName + td {
  padding-bottom: 30px;
}

.secBtnHead .item-btn {
  align-items: center;
}/*# sourceMappingURL=add_comp_new.css.map */