
.pane-main .inner .con-wrap {
  position: relative;
}



.pane-main .item {
  background: #fff;
  border: 4px solid #E5AF24;
  border-radius: 20px;
  overflow: hidden;
}

.pane-main .item-inner {
/*  padding: 20px 32px; T.N */
  padding: 10px 32px;
}

.pane-main .item-inner .ttl {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.pane-main .item-inner .txt {
  margin-left: 18px;
}


.pane-main .item-inner .top {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 40px;
}



.pane-main .item-inner a {
  overflow: inherit;
}


.pane-main .item-inner .date dl {
  display: flex;
}


.pane-main .item-inner .ttl {margin-top: 8px;}
.pane-main .item-inner .ttl figure {
  border-radius: 50%;
  overflow: hidden;
  width: 48px;
  border: 1px solid #D6D6D6;
  background: #D6D6D6;
}



.pane-main .item-inner .name {font-size: 2.4rem;}





.pane-main .item-info {
  margin-top: 8px;
}

.pane-main .item-info dl {
  display: flex;
  align-items: flex-start
}

.pane-main .item-info dl:nth-child(n+2) {
  margin-top: 8px;
}

.pane-main .item-info dl dt {
  font-size: 1.2rem;
  border: 1px solid #707070;
  padding: 4px 10px;
  width: 104px;
  text-align: center;
}

.pane-main .item-info dl dd {
  display: flex;
  font-size: 1.4rem;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 14px;
  padding: 4px 0;
}

.pane-main .item-info dl dd span.job-txt {
  margin-right: 32px;
}

.pane-main .item-info dl dd span.job-id {
    font-size: 1.2rem;
    background: #F5F5F5;
    padding: 4px 22px;
    margin-top: 4px;
    white-space: nowrap;
}


.pane-main .item-btm {
  display: flex;
  margin-top: 14px;
}

.pane-main .item-btm .tag li {
  font-size: 1.4rem;
  display: inline-block;
  margin-bottom: 6px;
}

.pane-main .item-btm .tag li a {
  display: inline-block;
  color: #fff;
  background: #E5AF24;
  border-radius: 14px;
  padding: 4px 16px;
}

.pane-main .item-btm .tag li:nth-child(even) a {
    background: #E5AF24;
}

.pane-main .item-inner .location {position: relative; font-size: 1.8rem; margin-left: 20px; white-space: nowrap; }
.pane-main .item-inner .location::before {content: ''; display: inline-block; background: url('/img/icon_location.png') no-repeat; 
  /* background-size: 100% auto; */
  background-size: contain;
  margin-right: 4px; width: 1em; height: 1em;
}




.pane-main .chat {
  background: #fff;
  border: 4px solid #E5AF24;
  border-radius: 20px;
  overflow: hidden;
//  margin-top: 20px;
  margin-top: 10px;
}

.pane-main .chat .chat-inner {
/*    padding: 32px; T,N */
    padding: 16px;
}

.pane-main .chat .balloon-chat {
/*  width: 80%; T.N */
  width: 96%;
}

.pane-main .chat .balloon-chat figure {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
}

.pane-main .chat .balloon-chat figure img {
  width: 58px;
  border: 1px solid #D6D6D6;
  border-radius: 50%;
  background: #D6D6D6;
}

.pane-main .chat .balloon-chat figure figcaption {
  margin-left: 18px;
}

.pane-main .chat .balloon-chat.left {
  margin-right: auto;
}
.pane-main .chat .balloon-chat.right {
  margin-left: auto;
}
.pane-main .chat .balloon-chat.right .time {
  text-align: right;
}


.pane-main .chat .chatting {
/*  font-size: 1.6rem; T.N */
  font-size: 1.4rem;
  font-weight: 300;
/*  border-radius: 20px; T,N */
  border-radius: 16px;
/*  margin-top: 8px; T.N */
  margin-top: 4px;
/*  padding: 15px; T.N */
  padding: 5px;
}

.pane-main .chat .balloon-chat:nth-child(n+2) {
/*  margin-top: 32px; T,N */
  margin-top: 8px;
}

.pane-main .chat .balloon-chat.left .chatting {
/*  color: #606060; T,N */
/*  background: #EFEFEF; T,N */
  color: #fff;
  background: #E5AF24;
}

.pane-main .chat .balloon-chat.right .chatting {
/*  color: #fff; T,N */
/*  background: #E5AF24; T,N */
  color: #606060;
  background: #EFEFEF;
}

.pane-main .chat h2 {
  font-size: 2.2rem; font-weight: bold;
  text-align: center;
}

.pane-main .chat .message-area {
  margin-top: 28px; padding: 0 25px;
  text-align: center;
}

.pane-main .chat .message-area form textarea {
  font-size: 1.8rem;
  width: 100%;
  max-height: 176px;
  padding: 14px 20px;
  outline: none;
  border: 1px solid #707070; 
}

.pane-main .chat .message-area form button {
  display: inline-block;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  background: #4AA5CE;
  border: none;
  border-radius: 30px;
  padding: 12px 20px;
  text-align: center;
  max-width: 280px;
  width: 100%;
  margin: 30px auto 0;
  cursor: pointer;
}


@media screen and (max-width: 1300px) {
  /* --------------------
  #header
  -------------------- */



  /* --------------------
  #nav
  -------------------- */
  .container {max-width: 96%;}

  .pane-main .chat .balloon-chat {
    width: 72%;
  }

  /* .pane-leftbar {
    min-width: 340px;
    width: 435px;
    flex-grow: 1;
  } */
}

@media screen and (max-width: 1100px) {
  .pane-main .item-inner {
    padding: 30px;
  }

  .pane-main .item-info dl dd span.job-txt {
    margin-right: 0;
  }
}



@media screen and (min-width: 821px) {

  .pane-main .inner > .ttl .button-list .sort::after {
    content: '';
    display: inline-block;
    background: url('/img/icon_sort.png') no-repeat;
    background-size: contain;
    width: 1.4em; height: 1em;
    margin-left: 0.5em;
  }

  .pane-main .item-inner .ttl .location {display: none;}
  .pane-main .item-inner .item-btm .location {display: inline-flex; align-items: center;}

  button.modal-btn {
    display: none !important;
  }

  hr {display: block;}


}



@media screen and (max-width: 820px) {
  /* --------------------
  #header
  -------------------- */

  /* --------------------
  #nav
  -------------------- */
  
  .pane-main .item-inner {
//    padding: 18px 25px;  T.N
    padding: 10px 25px;
  }

  .pane-main .item:nth-child(n+2) {
//    margin-top: 20px; T.N
    margin-top: 10px;
  }

  .pane-main .inner > .ttl .button-list {
    display: none;
  }

  .pane-main .item-inner .date dl {
    font-size: 1.2rem;
  }

  .pane-main .item-info dl dd span.job-id {
    display: none;
  }

  .pane-main .item-inner .txt {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 12px;
  }

  .pane-main .item-inner figure {
    position: relative;
    top: auto;
    border-radius: 50%; overflow: hidden; width: 30px;
  }

  .pane-main .item-inner .name {font-size: 1.6rem;}
  .pane-main .item-inner .location {font-size: 1.2rem;}

  
  .pane-main .item-inner .item-info {
    font-size: 1.2rem;
  }
  .pane-main .item-info dl dt {
    font-size: 1.2rem;
    padding: 4px 10px;
    width: 80px;
    text-align: center;
  }

  .pane-main .item-btm {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
  }

  .pane-main .item-btm .tag li {
    font-size: 1.2rem;
  }

//  .pane-main .item-inner .ttl .location {display: inline-flex; align-items: center;}
//  .pane-main .item-inner .item-btm .location {display: none;}

  .pane-main .item-inner .ttl .location {display: none;}
  .pane-main .item-inner .item-btm .location {display: inline-flex; align-items: center;}

  .pane-main .chat {
//      margin-top: 26px; T.N
      margin-top: 10px;
  }

  .pane-main .chat .chat-inner {
//    padding: 25px;  T.N
    padding: 5px;
  }

  .pane-main .chat .balloon-chat {
/*    width: 86%; T.N */
    width: 95%;
  }

  .pane-main .chat .balloon-chat .time {
    font-size: 1.2rem;
  }

  .pane-main .chat .chatting {
    font-size: 1.2rem;
    border-radius: 12px;
/*    margin-top: 14px; T.N */
    margin-top: 4px;
/*    padding: 12px 15px; T.N */
    padding: 5px;
  }


  .pane-main .chat h2 {
    font-size: 2.2rem;
//    margin-top: 20px; T.N
    margin-top: 5px;
  }


  button.modal-btn {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 1.8rem;
    width: 92%;
    background: #4AA5CE;
    border-radius: 30px;
    margin: auto;
    padding: 14px;
    border: none;
    cursor: pointer;
    z-index: 999;
    overflow-y: auto;
  }
/* T.N
  .pane-main .message-wrap {
    display: none;
    z-index: 9999;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform:translate(-50%,0%);
  }
*/
  .pane-main .chat .open-message-wrap {
    position: fixed;
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    top: auto;
    bottom: 0;
  }

  .pane-main .chat .open-message-wrap .toggle-btn {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    z-index: 9999;
    background: #E5AF24;
    padding: 12px;
    border-radius: 50%;
  }

  .pane-main .chat .open-message-wrap .toggle-btn span {
    position: absolute;
    left: 12px;
    width: 16px;
    height: 2px;
    background-color: #E5AF24;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .pane-main .chat .open-message-wrap .toggle-btn span:nth-child(1) {
    top: 13px;
  }
  .pane-main .chat .open-message-wrap .toggle-btn span:nth-child(2) {
    bottom: 13px;
  }
  .pane-main .chat .open-message-wrap .toggle-btn {
    background: #fff;
  }
  .pane-main .chat .open-message-wrap .toggle-btn span {
    background-color: #E5AF24;
    width: 26px;
    left: 6px;
  }
  .pane-main .chat .open-message-wrap .toggle-btn span:nth-child(1) {
    -webkit-transform: translateY(6px) rotate(-315deg);
    transform: translateY(6px) rotate(-45deg);
  }
  .pane-main .chat .open-message-wrap .toggle-btn span:nth-child(2) {
    -webkit-transform: translateY(-6px) rotate(315deg);
    transform: translateY(-6px) rotate(45deg);
  }



  .pane-main .open-message-wrap .messageBg {
    width: 100%;
    /* height: 100%; */
    background: rgba(255, 255, 255, 1);
//    padding: 25px;
    padding: 0px;
  }

  .pane-main .chat .message-area {
//    margin-top: 25px; T.N
    margin-top: 0px;
    padding: 0;
    text-align: center;
  }

  .pane-main .chat .message-area form textarea {
    font-size: 1.4rem;
  }

  .pane-main .chat .message-area form button {
    max-width: 420px;
    width: 100%;
//    margin: 30px auto 0;
    margin: 15px auto 0;
    cursor: pointer;
  }

//  hr {display: none;}
  hr {display: block;}

  .pane-footer {
    font-size: 1rem;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
  }


}