/* wrapper */


.pane-main .inner .con-wrap.ads {
  margin: 0 0 30px;
}

.pane-main .inner .con-wrap.col-2 {
  display: -webkit-flex;
	display: flex;
	-webkit-align-items: stretch;
	align-items: stretch;
}

.pane-main .con-wrap.col-2 .item {
  width: 50%;;
}

.pane-main .item:nth-child(n+2) {
  margin-left: 32px;
}

.pane-main .item h2 {
  color: #484848;
  font-size: 2rem;
  font-family: 'M PLUS 1p';
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}

.pane-main .item .item-inner {
  background: #fff;
  border: 4px solid #E5AF24;
  border-radius: 20px;
  /* overflow: hidden; */
  height: calc(100% - 60px);
  /* margin-top: 40px; */
  font-family: 'Noto Sans JP', sans-serif;
}

/* .pane-main .item.info {
  margin-top: 40px;
} */

.pane-main .item.thumb .inner {
  position: relative;
}


.pane-main .item-inner {
  padding: 14px 22px;
}


.pane-main .item-inner .item-block:nth-child(n+2) {
  margin-top: 20px;
}


.pane-main .item-inner h3 {
  font-size: 3rem; font-weight: normal;
}





.pane-main .item.setting .item-block:nth-child(n+2) {
  margin-top: 50px;
}


/* .pane-main .item-inner .txt {
  margin-left: 18px;
} */


.pane-main .item-inner .top {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 40px;
}



.pane-main .item-inner a {
  display: flex; flex-direction: column;
  overflow: inherit;
  height: 100%;
}

.pane-main .item-inner button {
  cursor: pointer;
}

.pane-main .item-inner .item-block {display: flex;}

.pane-main .item-inner .item-block .ttl {display: inline-block; max-width: 200px; width: 100%; margin-right: 20px;}
.pane-main .item-inner .item-block .ttl-s {display: inline-block; width: 100%; margin-right: 20px;}

.pane-main .item.setting .setting-list .contact-list > .input-wrap:nth-child(n+2) {margin-top: 24px;}

.pane-main .item.setting .setting-list .form-inner button.add {
  border: none; background: none;
}

.pane-main .item-inner .item-block .form-block {margin-bottom: 12px;}

.pane-main .item-inner .item-block .form-block .form-inner {margin-left: 20px;}
.pane-main .item-inner .item-block .form-block .form-inner > div {margin-top: 12px;}




.pane-main .item.setting .setting-list {
  margin-top: 40px;
}


.pane-main .item.setting .setting-list .form-inner input {
  padding: 12px 26px; font-size: 1.8rem; border-radius: 8px; border: 1px solid #B1B1B1;
}





.pane-main .item.setting .item-block {font-size: 1.8rem;}

.pane-main .item.setting .btn-wrap {
  text-align: center;
}
.pane-main .item.setting .btn-wrap button {
  max-width: 380px; width: 100%; margin: 40px auto 0; color: #fff; background: #E5AF24; font-size: 2.2rem; font-weight: bold; padding: 12px 15px; border: none;
  border-radius: 32px;
}

.pane-main .item.setting .btn-add-wrap {
  text-align: center; margin-top: 16px;
}



.pane-main .item.info .info-list {
  margin-top: 40px;
}

.pane-main .item.info .info-list .item-block {
  display: flex; align-items: center; margin-left: 4%;
}

.pane-main .item.info .info-list .item-block dl {
  font-size: 1.8rem;
  width: 60%; margin-right: 2%;
  display: flex;
}

.pane-main .item.info .info-list .item-block .stat.yet {
  color: #7C0101;
}

.pane-main .item.info .info-list .item-block button {
  width: 30%; background: #E5AF24; border: none; padding: 8px 15px; color: #fff; font-weight: bold; font-size: 1.8rem; border-radius: 26px;
}






.pane-main .con-wrap .message .item-inner ul li {
  border-bottom: 1px solid #B1B1B1;
  padding: 20px 0 8px;
}

.pane-main .con-wrap .message .item-inner ul li:first-child {
  padding-top: 10px;
}

.pane-main .con-wrap .message .item-inner ul li dl dt {
  display: flex;
  flex-wrap: nowrap;
}

.pane-main .con-wrap .message .item-inner .tag {
  background: #F5F5F5; text-align: center; color: #707070; padding: 4px 16px;
  font-size: 1.2rem; width: 130px;
  display: inline-block;
  margin-right: 10px;
}

.pane-main .con-wrap .message .item-inner .date {
  font-size: 1.4rem;
}

.pane-main .con-wrap .message .item-inner ul li dd {
  position: relative;
  font-size: 1.6rem; margin-top: 6px; display: flex; align-items: center;
}

.pane-main .con-wrap .message .item-inner ul li dd.new::before {
  content: ''; display: inline-block; width: 10px; height: 10px; background: #B90000; border-radius: 50%;
  /* position: absolute; left: 0; top: 0; bottom: 0; margin: auto;  */
  margin-right: 12px;
  flex-shrink: 0;
}





.pane-main .con-wrap .job .item-inner ul li {
  border-bottom: 1px solid #B1B1B1;
  padding: 20px 0 10px;
}

.pane-main .con-wrap .job .item-inner ul li:first-child {
  padding-top: 10px;
}

.pane-main .con-wrap .job .item-inner .txt {
  font-size: 1.6rem;
}

.pane-main .con-wrap .job .item-inner .corp-name {
  display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
  margin-top: 4px;
}


.pane-main .con-wrap .job .item-inner .corp-name figure {
  border-radius: 50%; overflow: hidden; width: 48px;
  border: 1px solid #D6D6D6;
  background: #D6D6D6;
  display: flex;
}

.pane-main .con-wrap .job .item-inner .corp-name p {
  font-size: 1.4rem; font-weight: bold;
  margin-left: 14px;
  width: 100%;
}

.pane-main .con-wrap .favorite .item-inner {
  padding: 0; border: none; background: none;
}

.pane-main .con-wrap .favorite .item-inner ul {
  display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: start;
}

.pane-main .con-wrap .favorite .item-inner ul li {
  border-bottom: 1px solid #B1B1B1;
  /* padding: 20px 0 14px; */
  width: 24%;
  border-radius: 24px;
  border: 4px solid #E5AF24;
  overflow: hidden;
  margin-right:18px;
}

.pane-main .con-wrap .favorite .item-inner ul li:last-child {
  margin-right:0;
}

/* .pane-main .con-wrap .favorite .item-inner ul li {
  margin-bottom: 20px;
} */

/* .pane-main .con-wrap .favorite .item-inner ul li:first-child {
  margin-top: 0;
} */

.page-main .con-wrap .favorite .item-inner figure {
  flex-shrink: 0;
}

.pane-main .con-wrap .favorite .item-inner figure img {
  width: 100%;
}

.pane-main .con-wrap .favorite .item-inner ul li dd {
  font-size: 1.8rem; margin-top: 14px;
}

.pane-main .con-wrap .favorite .item-inner ul li > p {
  font-size: 1.8rem; padding: 8px 14px;
}

.pane-main .con-wrap .favorite .item-inner .job-name {
  padding: 12px;
}

.pane-main .con-wrap .favorite .item-inner .corp-name {
  display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
  margin-top: auto;
  background: #EFEFEF;
  padding: 8px;
}

.pane-main .con-wrap .favorite .item-inner .corp-name figure {
  border-radius: 50%; overflow: hidden; width: 48px;
  border: 1px solid #D6D6D6;
  background: #D6D6D6;
  display: flex;
}

.pane-main .con-wrap .favorite .item-inner .corp-name p {
  font-size: 1.4rem; font-weight: bold;
  margin-left: 14px;
}

.pane-main .con-wrap .favorite .item-inner ul li > figure {
  width: 100%;
}

.pane-main .con-wrap .favorite .item-inner ul li > figure img {
  width: 100%;
}

.pane-main .event h2 {
  font-size: 2.4rem;
  font-family: 'M PLUS 1p';
  letter-spacing: 0.1em;
  margin-bottom: 26px;
}

.pane-main .event ul li {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  background: #fff;
  border: 4px solid #E5AF24;
  border-radius: 20px;
  overflow: hidden;
}

.pane-main .event ul li:nth-child(n+2) {
  margin-top: 30px;
}

.pane-main .event ul li figure {
  /* height: 100%; */
  overflow: hidden;
/*  width: 100%; T.N */
  width: 280px;
}

.pane-main .event ul li figure img {
  height: 100%;
  object-fit: cover;
  /* height: 100%;
  width: 100%;
  overflow: hidden; */
}

.pane-main .event ul li .inner {
  padding: 20px 20px;
  flex: 1;
}

.pane-main .event ul li .event-name {
  font-size: 1.8rem;
}

.pane-main .event .info-c {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.pane-main .event .info-c .time {
  margin-top: 16px;
}

.pane-main .event .corp-name {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 16px;
  margin-right: 20px;
}

.pane-main .event .corp-name figure {
  border-radius: 50%; overflow: hidden; width: 48px;
  border: 1px solid #D6D6D6;
  background: #D6D6D6;
/*  display: flex; T.N */
/*  flex-shrink: 0;T.N */
}

.pane-main .event .corp-name p {
  font-size: 1.4rem; font-weight: bold;
  margin-left: 12px;
}

.pane-main .event ul li .time {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.pane-main .event ul li .time .cate {
  text-align: center; background: #F6D056; font-size: 1.2rem; padding: 4px 8px;
  width: 100px; color: #fff;
  white-space: nowrap; margin-right: 12px; 
}

.pane-main .event ul li .time .date {
  font-size: 1.4rem;
}


.pane-main .event ul li .txt {
  margin-top: 16px;
}

.pane-main .event .inner .button-wrap {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.pane-main .event .inner button {
  font-size: 2.2rem;
  font-weight: 600;
  color: #fff;
  background: #897F5D;
  margin: 0 auto;
  max-width: 380px;
  width: 100%;
  border: none;
  padding: 15px 20px;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}




@media screen and (max-width: 1500px) {

  /* .pane-main .item h2 {
    color: #484848;
    font-size: 3.6rem;
    font-family: 'M PLUS 1p';
    letter-spacing: 0.1em;
    margin-bottom: 30px;
  } */

  .pane-main .event .info-c .time {
    margin-top: 10px;
  }

}

@media screen and (max-width: 1300px) {
  /* --------------------
  #header
  -------------------- */



  /* --------------------
  #nav
  -------------------- */
  .container {max-width: 96%;}
 
  /* .pane-main .item > figure {
    height: 220px;
  } */
/*
  .pane-main .item-inner .button-flex {
    flex-wrap: wrap;
    margin: 32px auto;
  }

  .pane-main .item-inner .button-flex a {
    display: inline-block;
    font-size: 2.0rem;
    font-weight: 600;
    color: #fff;
    background: #897F5D;
    padding: 6px 20px;
    border-radius: 30px;
    max-width: 380px;
    width: 100%;
    text-align: center;
    margin: 12px auto 0 !important;
  }
*/

  .pane-main .item-block .txt {
    margin: 14px 0 0;
  }

  .pane-main .item-inner .ttl {flex-wrap: wrap;}
  .pane-main .item-block .ttl p {margin-top: 8px;}
  .pane-main .item-block .ttl a {margin: 8px 0 0;}
  .pane-main .item-block .unread::after {margin-top: 8px;}




  .pane-main .inner .con-wrap.col-2 {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    flex-wrap: wrap;
  }
  
  .pane-main .con-wrap.col-2 .item {
    width: 100%; margin-left: 0;
  }

  .pane-main .con-wrap.col-2 .item.job {
    margin-top: 30px;
  }



  .pane-main .con-wrap .favorite .item-inner ul {
    flex-wrap: wrap;
  }
  
  .pane-main .con-wrap .favorite .item-inner ul li {
    width: 43%;
  }

  .pane-main .con-wrap .favorite .item-inner ul li:nth-child(n+3) {
    margin-top: 20px;
  }

  .pane-main .event .info-c {
    flex-wrap: wrap;
  }

}


@media screen and (max-width: 1100px) {
  .pane-main .item-inner {
    padding: 30px;
  }


  .pane-main .item-inner .item-block {
    flex-wrap: wrap;
  }

  .pane-main .item-inner .item-block .ttl {display: block; width: 100%; margin-right: 20px;}



  .pane-main .item.setting .setting-list .form-inner > .input-wrap {
    margin-top: 12px;
  }
  
}


@media screen and (min-width: 821px) {

  .pane-main nav {display: none;}


  .pane-main .inner > .ttl .button-list .sort::after {
    content: '';
    display: inline-block;
    background: url('/img/icon_sort.png') no-repeat;
    background-size: contain;
    width: 1.4em; height: 1em;
    margin-left: 0.5em;
  }

  .pane-main .item-inner .ttl .location {display: none;}
  .pane-main .item-inner .item-top .location {display: inline-block;}

  button.modal-btn {
    display: none !important;
  }

  .pane-main .item button {
    display: block;
    width: 124px;
    background: #4AA5CE; color: #fff; border: none; font-size: 1.4rem; padding: 12px 20px; border-radius: 2em; text-align: center; margin: 22px auto;
  }

  /* .pane-main .item-inner button.pc {
    display: block;
    width: 120px;
    background: #4AA5CE; color: #fff; border: none; font-size: 1.4rem; padding: 6px 20px; border-radius: 18px; text-align: center; margin: 0 0 0 auto;
  }
  .pane-main .item-inner button.sp {
    display: none;
  } */

}



@media screen and (max-width: 820px) {

  .pane-main .item .item-inner {
    height: calc(100% - 70px);
  }

  /* --------------------
  #header
  -------------------- */

  /* --------------------
  #nav
  -------------------- */

  .pane-main nav .inner .user-info {text-align: center;}

  .pane-main nav .inner .user-info p.name,
  .pane-main nav .inner .user-info p.id {font-size: 1.8rem;}

  .pane-main nav .inner .user-info figure {margin-top: 20px;}

  .pane-main nav .inner .user-prof {text-align: center;}
  .pane-main nav .inner .user-prof p {font-size: 2.2rem;}

  .pane-main nav .inner a.edit {font-size: 1.4rem; padding: 6px 16px; border: 1px solid #4AA5CE; display: inline-block; max-width: 206px; width: 100%; text-align: center; margin: 12px auto 0; color: #4AA5CE;}



  .pane-main nav .inner .user-btn a.unread {position: relative; font-size: 1.4rem; text-align: center; border: 1px solid #4AA5CE; display: inline-block; padding: 12px 15px 12px 50px; border-radius: 25px; width: 100%;}
  .pane-main nav .inner .user-btn a.unread::before {content: ''; display: inline-block; width: 26px; height: 22px; background: url('/img/icon_msg.png') no-repeat; background-size: contain; position: absolute; left: 20px; top: 0; bottom: 0; margin: auto;}

  .pane-main nav {display: block;}
  
  .pane-main nav { height: fit-content; padding: 30px; background: #E5AF24; border: 4px solid #E5AF24;}
  .pane-main nav {background-color: #fff; border-radius: 20px; padding: 25px;}
  .pane-main nav:nth-child(n+2) {margin-top: 32px;}

  /* .pane-main nav .inner {background: #fff; border-radius: 20px; padding: 25px;}
  .pane-main nav .inner > div {} */

  .pane-main nav .inner {position: relative;}
  .pane-main nav .inner:nth-child(n+2) {position: relative;}
  .pane-main nav .inner h2 {color: #484848; font-size: 1.8rem; font-weight: normal; text-align: center;}
  .pane-main nav .inner > div:nth-child(n+2) {margin-top: 15px;}


  .pane-main nav .inner .user-info {text-align: center;}

  .pane-main nav .inner .user-info p.name {font-size: 2.4rem; }
  .pane-main nav .inner .user-info p.id {font-size: 1.2rem;}

  .pane-main nav .inner .user-info figure {margin-top: 20px;}

  .pane-main nav .inner .user-prof {text-align: center;}
  .pane-main nav .inner .user-prof p {font-size: 1.4rem;}

  .pane-leftbar .inner a.edit {font-size: 1.4rem; padding: 6px 16px; border: 1px solid #B1B1B1; display: inline-block; max-width: 206px; width: 100%; text-align: center; margin: 12px auto 0;}



  .pane-main .inner .con-wrap {
//    margin-top: 54px;  T.N
    margin-top: 10px;
  }

  .pane-main .item h2 {
    color: #484848;
    font-size: 2.4rem;
    font-family: 'M PLUS 1p';
    letter-spacing: 0.1em;
    margin-bottom: 10px;
    text-align: center;
  }

  

  .pane-main .item-inner {
//    padding: 20px;
  }

  .pane-main .item:nth-child(n+2) {
//    margin-top: 20px;  T.N
    margin-top: 10px;
  }


  .pane-main .inner .con-wrap.ads {
//    margin: 40px 0 52px;  T.N
    margin: 10px 0 0px;
  }

  .pane-main .item-inner .ttl {flex-wrap: wrap;}
  .pane-main .item-inner .ttl .date {font-size: 1.2rem;}
  .pane-main .item-block .ttl p {font-size: 1.4rem; margin-top: 8px;}
  
  .pane-main .item-block .txt {margin: 14px 0 0;}
  

  .pane-main .item-block .unread::after {display: block; width: 100%;}


  .pane-main .item.setting .btn-wrap button {font-size: 1.8rem;}

  .pane-main .item.setting .setting-list .form-inner .input-wrap input {
    font-size: 1.4rem; width: 100%; display: block;
  }

  .pane-main .item.setting .item-block {
    font-size: 1.4rem; width: 100%; display: block;
  }


  .pane-main .item.setting .btn-add-wrap {
    width: 100%;
  }


  .pane-main .item-inner h3 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}


  .pane-main .item.info .info-list .item-block p {
    font-size: 1.4rem;
    width: 30%; margin-right: 2%;
  }

  .pane-main .item.info .info-list .item-block dl {
    font-size: 1.4rem;
    width: 60%; margin-right: 2%;
    display: flex; flex-wrap: wrap;
  }
  






  .pane-main .con-wrap .message .item-inner .tag {
    width: 132px;
    padding: 4px 12px;
    font-size: 1.2rem;
  }
  .pane-main .con-wrap .message .item-inner .date {
    font-size: 1.2rem;
    margin-left: 14px;
  }

  .pane-main .con-wrap .message .item-inner ul li dl dt  {
    display: flex; align-items: center;
  }

  .pane-main .con-wrap .message .item-inner ul li dd {
    font-size: 1.4rem;
    margin-top: 10px;
  }

  .pane-main .con-wrap .message .item-inner ul li dd a {
    text-decoration: underline;
  }


  .pane-main .con-wrap.col-2 .item.job {
//    margin-top: 54px;  T.N
    margin-top: 10px;
  }

  .pane-main .con-wrap .job .item-inner .txt {
    font-size: 1.4rem;
  }

  .pane-main .con-wrap .job .item-inner .txt a {
    text-decoration: underline;
  }


  .pane-main .con-wrap .job .item-inner .corp-name p {
    font-size: 1.4rem;
    margin-left: 14px;
    width: 100%;
  }



  .pane-main .event .corp-name {
    margin-top: 0;
  }

  .pane-main .event ul li .event-name {
    display: none;
  }

  .pane-main .item-inner button {
    display: block;
    background: #4AA5CE; color: #fff; border: none; font-size: 1.8rem; font-weight: bold; padding: 14px; border-radius: 30px; width: 100%; text-align: center; margin: 20px 0;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  }

  /* .pane-main .item-inner button.pc {
    display: none;
  }
  .pane-main .item-inner button.sp {
    display: block;
    background: #E5AF24; color: #fff; border: none; font-size: 1.8rem; font-weight: bold; padding: 14px; border-radius: 30px; width: 100%; text-align: center; margin-top: 20px;
  } */




  .pane-main .con-wrap .favorite .item-inner {
    background: none;
    border: none;
    border-radius: 20px;
    /* overflow: hidden; */
    /* margin-top: 40px; */
    font-family: 'Noto Sans JP', sans-serif;
    padding: 0 60px;
  }

/*
  .pane-main .con-wrap .favorite .item-inner ul li {
    width: 100%;
    margin-top: 20px;
  }
*/

.pane-main .con-wrap .favorite .item-inner ul li {
  border-bottom: 1px solid #B1B1B1;
  /* padding: 20px 0 14px; */
  width: 90%;
  border-radius: 24px;
  border: 4px solid #E5AF24;
  overflow: hidden;
  margin-right:18px;
  margin-top: 10px;
}

  .pane-main .con-wrap .favorite .item-inner ul li:first-child {
    margin-top: 0;
  }

  .pane-main .con-wrap .favorite .item-inner .corp-name figure {
    border-radius: 50%;
    /* overflow: hidden; */
    width: 40px;
  }

  .pane-main .con-wrap .favorite .item-inner .job-name {
    font-size: 1.4rem; padding: 12px;
  }
  
  .pane-main .con-wrap .favorite .item-inner .corp-name {
    font-size: 1.4rem; padding: 12px;
  }

.page-main .con-wrap .favorite .item-inner figure {
  flex-shrink: 0;
}

.pane-main .con-wrap .favorite .item-inner figure img {
  width: 100%;
}




  .pane-main .event ul li {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    background: #fff;
    border: 4px solid #E5AF24;
    border-radius: 20px;
    /* overflow: hidden; */
  }

  .pane-main .event ul li .inner {
    padding: 20px;
  }

  .pane-main .event ul li .txt {
    font-size: 1.2rem; margin-top: 10px;
  }

  .pane-main .event .info-c {
    flex-wrap: wrap;
  }

  .pane-main .event ul li .time {
    margin-left: 0; margin-top: 12px; flex-wrap: wrap;
  }

  .pane-main .event ul li .time .date {
    font-size: 1.4rem;
    margin-top: 10px;
  }

  .pane-main .event ul li > figure {
    display: flex;
    align-items: center;
    height: 150px;
  }

  .pane-main .event ul li figure img {
    width: 100%;
  }

  .pane-main .event button {
    display: block;
    background: #4AA5CE;
    color: #fff;
    border: none;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 14px;
    border-radius: 30px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  }


}