#wrapper {
  font-family: 'Noto Sans JP', sans-serif;
  max-width: none;
  padding: 0;
}
.mv {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: url('/img/top/mv.jpg') no-repeat center center / cover;
}
.items {
  position: relative;
  z-index: 2;
}
.items_detail {
  width: 50%;
}
.items_h2 {
  margin-bottom: 20px;
  text-align: center;
}
.items_box {
  padding: 25px 30px 70px;
  color: rgb(14, 46, 71);
  background-color: rgba(255, 255, 255, 0.78);
}
.items_box h3 {
  font-size: 24px;
}
.items_box h3 + p {
  margin-top: 1em;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 1.6px;
}
.items_bg {
  position: absolute;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.items_video {
  position: absolute;
}

/* fadein */
.fadein {
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
  transition: transform 1s, opacity 1s, visibility 1s;
}
.is-fadein {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.is-fadein:nth-of-type(2) {
  -moz-transition-delay: 400ms;
  -webkit-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  -ms-transition-delay: 400ms;
}
.is-fadein:nth-of-type(3) {
  -moz-transition-delay: 800ms;
  -webkit-transition-delay: 800ms;
  -o-transition-delay: 800ms;
  -ms-transition-delay: 800ms;
}

/* view */
.v-pc {display: block;}
.v-sp {display: none;}

/* --------------------
#sec-title
-------------------- */
#sec-title {
  min-height: 80vh;
}
#sec-title .title_logo {
  position: absolute;
  width: 100px;
  left: 10%;
  top: 30px;
}
#sec-title .title_block {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
}
#sec-title .title_block .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  text-align: center;
  transform: translate(-50%, -50%);
}
#sec-title .title_block h1 {
  margin-bottom: 30px;
}
#sec-title .title_block .formbox {
  margin-top: 12px;
}
#sec-title .title_block .formbox input[type="text"],
#sec-title .title_block .formbox input[type="password"] {
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.62);
  width: 100%;
}
#sec-title .title_block .formbox input::placeholder {
  color: rgb(160, 160, 159);
}
#sec-title .title_block .formbox ul > li + li {
  margin-top: 12px;
}
#sec-title .title_block .formbox .btnarea {
  margin-top: 20px;
}
#sec-title .title_block .formbox .btnarea .btn + .btn {
  margin-top: 12px;
}
#sec-title .title_block .formbox .btnarea .btn > * {
  display: block;
  width: 170px;
  height: 35px;
  font-size: 15px;
  line-height: 35px;
  text-align: center;
  border: none;
  margin: auto;
}
#sec-title .title_block .formbox .btnarea .btn-login > * {
  color: #fff;
  background-color: rgb(47, 46, 46);
}
#sec-title .title_block .formbox .btnarea .btn-register > * {
  color: #000;
  background-color: #fff;
}
#sec-title .title_block .formbox .forget {
  margin-top: 1em;
}
#sec-title .title_block .formbox .forget a {
  color: rgb(14, 46, 71);
  font-size: 14px;
  text-decoration: underline;
}

/* --------------------
#logo-slider
-------------------- */
#logo-slider {
  position: relative;
  padding: 15px 0;
  background-color: rgb(230, 226, 199);
}
#logo-slider.fixed {
	position: fixed;
  left: 0;
	top: 0;
  z-index: 10;
}
#logo-slider .slider_item {
  padding: 0 20px;
}
#logo-slider .slider_item img {
  height: 20px;
}
#logo-slider .slider .slick-arrow {
  position: absolute;
  top: 50%;
  text-indent: -9999px;
  background-color: transparent;
  border: none;
  transform: translateY(-50%);
  overflow: initial;
  cursor: pointer;
  z-index: 1;
}
#logo-slider .slider .slick-arrow:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 12px;
}
#logo-slider .slider .slick-prev {
  left: 20px;
}
#logo-slider .slider .slick-prev:before {
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  transform: rotate(45deg);
}
#logo-slider .slider .slick-next {
  right: 20px;
}
#logo-slider .slider .slick-next:before {
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
}

/* --------------------
#sec-casual
-------------------- */
#sec-casual {
  padding: 150px 0;
  margin: 50px 0 100px;
}
#sec-casual .items_detail {
  margin-left: auto;
  padding-right: 8%;
}
#sec-casual .items_bg {
  left: 0;
  bottom: 0;
  width: 100%;
}
#sec-casual .items_video {
  width: 100%;
}

/* --------------------
#sec-high
-------------------- */
#sec-high {
  padding: 100px 0;
  margin-bottom: 100px;
}
#sec-high .items_detail {
  padding: 0 8%;
}
#sec-high .items_bg {
  right: 0;
  top: 0;
  width: 50%;
}
#sec-high .items_video {
  right: 50%;
  width: 150%;
  margin-right: -60%;
}

/* --------------------
#sec-global
-------------------- */
#sec-global {
  padding: 100px 0;
  margin-bottom: 100px;
  left: 0;
  bottom: 0;
}
#sec-global .items_detail {
  padding: 0 8%;
  margin-left: auto;
}
#sec-global .items_bg {
  left: 0;
  bottom: 0;
  width: 50%;
}
#sec-global .items_video {
  width: 150%;
}

/* --------------------
#sec-other
-------------------- */
#sec-other {
  padding-bottom: 50px;
}
#sec-other .other_block {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}
#sec-other .other_block .items_box {
  width: 32%;
}
#sec-other .other_block .items_box h3 {
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(14, 46, 71);
}

/* --------------------
#footer
-------------------- */
#footer {
  position: relative;
  padding: 10px 0;
  border-top: 1px solid #000;
  z-index: 2;
}
#footer .footer_inner {
  max-width: 1000px;
  margin: auto;
}
#footer .footer_inner .copy {
  color: #000;
  font-size: 19px;
  text-align: right;
}


/////////////////////////////////////////////////////////
// Šé‹ÆŒŸõ
/////////////////////////////////////////////////////////
search_container{
  position: relative;
  box-sizing: border-box;
  border: 2px solid #3879D9;
  display: block;
  padding: 3px 10px;
  border-radius: 3px;
  height: 2.3em;
  width: 265px;
  overflow: hidden;
}
.search_container input[type="text"]{
  border: none;
  height: 2.8em;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background: #b8860b;
  color: #fff;
  position: absolute;
  width: 2.0em;
  height: 1.9em;
  right:0px;
  top: 78px;
/*  outline : none;*/
  font-size: 25px;
  transform: translateY(-50%);
}

.search_container a{
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background: #b8860b;
  color: #fff;
  position: absolute;
  width: 2.0em;
  height: 1.9em;
  right:0px;
  top: 78px;
/*  outline : none;*/
  font-size: 25px;
  transform: translateY(-50%);
}


@media (max-width: 767px) {
  /* view */
  .v-sp {display: block;}
  .v-pc {display: none;}

  .items_h2 img {
    height: 40px;
  }
  .items_box {
    padding: 10px;
  }
  .items_box h3 {
    font-size: 20px;
  }
  .items_box h3 + p {
    font-size: 14px;
  }

  /* --------------------
  #sec-title
  -------------------- */
  #sec-title {
/*    height: auto;*/
    height: 600px;
/*    padding: 100px 0;*/
  }
  #sec-title .title_logo {
    width: 40%;
    left: 10px;
/*    top: 10px;*/
    top: 0px;
  }
  #sec-title .title_block {
    position: static;
    width: 100%;
/*    top: 20px;*/
  }
  #sec-title .title_block .inner {
    position: static;
    width: 100%;
    transform: none;
  }
  #sec-title .title_block h1 {
    width: 70%;
    margin: 0 auto 30px;
  }
  #sec-title .title_block .formbox input[type="text"],
  #sec-title .title_block .formbox input[type="password"] {
    width: 70%;
  }
  #sec-title .title_block .formbox .btnarea .btn > * {
    width: 60%;
  }

  /* --------------------
  #sec-casual
  -------------------- */
  #sec-casual {
    padding: 30px 0;
    margin: 25px 0 50px;
  }
  #sec-casual .items_detail {
    width: 100%;
    padding: 0 3%;
  }
  #sec-casual .items_video {
    width: 280%;
    right: -60%;
  }

  /* --------------------
  #sec-high
  -------------------- */
  #sec-high {
    padding: 30px 0;
    margin-bottom: 50px;
  }
  #sec-high .items_detail {
    width: 100%;
    padding: 0 3%;
  }
  #sec-high .items_bg {
    width: 100%;
  }
  #sec-high .items_video {
    width: 250%;
  }

  /* --------------------
  #sec-global
  -------------------- */
  #sec-global {
    padding: 30px 0;
    margin-bottom: 50px;
  }
  #sec-global .items_detail {
    width: 100%;
    padding: 0 3%;
  }
  #sec-global .items_bg {
    width: 100%;
  }
  #sec-global .items_video {
    top: 0;
    width: 250%;
  }

  /* --------------------
  #sec-other
  -------------------- */
  #sec-other .other_block {
    padding: 0 3%;
    display: block;
  }
  #sec-other .other_block .items_box {
    width: 100%;
  }
  #sec-other .other_block .items_box + .items_box {
    margin-top: 30px;
  }
  #sec-other .other_block .items_box h3 {
    text-align: center;
  }

  /* --------------------
  #footer
  -------------------- */
  #footer {
    border-color: #fff;
  }
  #footer .footer_inner .copy {
    color: #fff;
    font-size: 10px;
    text-align: center;
  }
}