#wrapper {
  font-family: 'Noto Sans JP', sans-serif;
  max-width: none;
  padding: 0;
}
.mv {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: url('../img/top/mv.jpg') no-repeat center center / cover;
}
.items {
  position: relative;
  z-index: 2;
}
.items_detail {
  width: 50%;
}
.items_h2 {
  margin-bottom: 20px;
  text-align: center;
}
.items_box {
  padding: 25px 30px 70px;
  color: rgb(14, 46, 71);
  background-color: rgba(255, 255, 255, 0.78);
}
.items_box h3 {
  font-size: 24px;
}
.items_box h3 + p {
  margin-top: 1em;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 1.6px;
}
.items_bg {
  position: absolute;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.items_video {
  position: absolute;
}
.blog_box {
  background-color: rgb(255, 255, 255);
}
.blog_ttl h2 {
  color: #fff;
  text-align: center;
  font-size: 26px;
  margin-bottom: 30px;
}
.kodawari_ttl h2 {
  color: #484848;
  text-align: center;
  font-size: 26px;
  margin: 40px 0 20px;
}
.blog_box h3 {
  color: #000;
  font-size: 18px;
  padding: 10px 18px 0;
}
.kodawari_box h3 {
  color: #E5AF24;
  font-size: 22px;
}
.kodawari_box h4 {
  font-size: 1.8rem;
  text-align: left;
  text-decoration: underline;
  margin-top: 12px;
}

/* fadein */
.fadein {
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
  transition: transform 1s, opacity 1s, visibility 1s;
}
.is-fadein {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.is-fadein:nth-of-type(2) {
  -moz-transition-delay: 400ms;
  -webkit-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  -ms-transition-delay: 400ms;
}
.is-fadein:nth-of-type(3) {
  -moz-transition-delay: 800ms;
  -webkit-transition-delay: 800ms;
  -o-transition-delay: 800ms;
  -ms-transition-delay: 800ms;
}

/* view */
.v-pc {display: block;}
.v-sp {display: none;}

/* --------------------
#sec-title
-------------------- */
#sec-title {
  min-height: 80vh;
}
#sec-title .title_logo {
  position: absolute;
  width: 100px;
  left: 10%;
  top: 30px;
}
#sec-title .title_block {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
}
#sec-title .title_block .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  text-align: center;
  transform: translate(-50%, -50%);
}
#sec-title .title_block h1 {
  margin-bottom: 30px;
}
#sec-title .title_block .formbox {
  margin-top: 12px;
}
#sec-title .title_block .formbox input[type="text"],
#sec-title .title_block .formbox input[type="password"] {
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.62);
  width: 100%;
}
#sec-title .title_block .formbox input::placeholder {
  color: rgb(160, 160, 159);
}
#sec-title .title_block .formbox ul > li + li {
  margin-top: 12px;
}
#sec-title .title_block .formbox .btnarea {
  margin-top: 20px;
}
#sec-title .title_block .formbox .btnarea .btn + .btn {
  margin-top: 12px;
}
#sec-title .title_block .formbox .btnarea .btn > * {
  display: block;
  width: 170px;
  height: 35px;
  font-size: 15px;
  line-height: 35px;
  text-align: center;
  border: none;
  margin: auto;
}
#sec-title .title_block .formbox .btnarea .btn-login2 > * {
  color: #fff;
  background-color: rgb(47, 46, 46);
}
#sec-title .title_block .formbox .btnarea .btn-register > * {
  color: #000;
  background-color: #fff;
}
#sec-title .title_block .formbox .forget {
  margin-top: 1em;
}
#sec-title .title_block .formbox .forget a {
  color: rgb(14, 46, 71);
  font-size: 14px;
  text-decoration: underline;
}
#sec-title .menu-content {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
  margin-top: 10px;
  font-size: 1.8rem;
}
#sec-title .menu-content p{
  margin-left: 30px;
}

#sec-title .title_block .searchbox {
  margin-top: 12px;
}
#sec-title .title_block .inner {
  margin-top: 00px;
}
#sec-title .title_block .inner .signup-login {
  display: flex;
  justify-content: space-between;
  font-size: 1.6em;
}
#sec-title .title_block .inner .signup-login p {
  background-color: #B8860B;
  width: 47%;
  padding: 7px 0;
}
#sec-title .title_block .inner .signup-login p a {
  color: #fff;
}
#sec-title .title_block .searchbox {
  margin: 10px 0 30px;
  display: flex;
}
#sec-title .title_block .searchbox input[type="text"] {
  padding: 24px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.62);
}
#sec-title .title_block .searchbox input::placeholder {
  color: rgb(160, 160, 159);
}

/* --------------------
#logo-slider
-------------------- */
#logo-slider {
  position: relative;
  padding: 15px 0;
  background-color: rgb(230, 226, 199);
}
#logo-slider.fixed {
	position: fixed;
  left: 0;
	top: 0;
  z-index: 10;
}
#logo-slider .slider_item {
  padding: 0 20px;
}
#logo-slider .slider_item img {
  height: 20px;
}
#logo-slider .slider .slick-arrow {
  position: absolute;
  top: 50%;
  text-indent: -9999px;
  background-color: transparent;
  border: none;
  transform: translateY(-50%);
  overflow: initial;
  cursor: pointer;
  z-index: 1;
}
#logo-slider .slider .slick-arrow:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 12px;
}
#logo-slider .slider .slick-prev {
  left: 20px;
}
#logo-slider .slider .slick-prev:before {
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  transform: rotate(45deg);
}
#logo-slider .slider .slick-next {
  right: 20px;
}
#logo-slider .slider .slick-next:before {
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
}

/* --------------------
#sec-casual
-------------------- */
#sec-casual {
  padding: 150px 0;
  margin: 50px 0 100px;
}
#sec-casual .items_detail {
  margin-left: auto;
  padding-right: 8%;
}
#sec-casual .items_bg {
  left: 0;
  bottom: 0;
  width: 100%;
}
#sec-casual .items_video {
  width: 100%;
}

/* --------------------
#sec-high
-------------------- */
#sec-high {
  padding: 100px 0;
  margin-bottom: 100px;
}
#sec-high .items_detail {
  padding: 0 8%;
}
#sec-high .items_bg {
  right: 0;
  top: 0;
  width: 50%;
}
#sec-high .items_video {
  right: 50%;
  width: 150%;
  margin-right: -60%;
}

/* --------------------
#sec-global
-------------------- */
#sec-global {
  padding: 100px 0;
  margin-bottom: 100px;
  left: 0;
  bottom: 0;
}
#sec-global .items_detail {
  padding: 0 8%;
  margin-left: auto;
}
#sec-global .items_bg {
  left: 0;
  bottom: 0;
  width: 50%;
}
#sec-global .items_video {
  width: 150%;
}

/* --------------------
#sec-other
-------------------- */
#sec-other {
  padding-bottom: 50px;
}
#sec-other .other_block {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}
#sec-other .other_block .items_box {
  width: 32%;
}
#sec-other .other_block .items_box h3 {
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(14, 46, 71);
}

/* --------------------
#footer
-------------------- */
#footer {
  position: relative;
  padding: 30px 0;
  border-top: 1px solid #000;
  z-index: 2;
}
#footer .footer_inner {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-around;
	flex-wrap: wrap;
  color: #fff;
  font-size: 1.4rem;
}
#footer .footer_inner a {
  color: #fff;
  margin-right:5px;
}

/* --------------------
#blog
-------------------- */
#blog {
  background-color: #E5AF24;
  padding-top: 40px;
  padding-bottom: 50px;
}
#blog .blog_block {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 15px auto;
}
#blog .blog_block .blog_box {
  width: 32%;
  padding: 0 0 5px;
}
#blog .blog_block .blog_info {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
#blog .blog_button01 a {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
  background: #4AA5CE;
  margin: 40px auto 40px;
  padding: 5px ;
  border-radius: 30px;
  width: 25%;
  min-width: 200px;
}
#blog .blog_button02 a {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  color: #fff;
  background: #4AA5CE;
  margin: 20px auto 40px;
  padding: 5px ;
  border-radius: 30px;
  width: 45%;
  min-width: 200px;
}
#blog .blog_box p {
  color: #484848;
  padding: 0 18px;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 1.6px;
}
.blog_box p.tag {
  background: #EBEBEB;
  padding: 0 10px;
}


/* --------------------
#kodawari
-------------------- */
#kodawari {
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 50px;
}
#kodawari .kodawari_block {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
#kodawari .kodawari_block .kodawari_box {
  width: 100%;
  padding: 20px;
  margin: 15px;
  border: 4px solid #E5AF24;
  border-radius: 20px;
  text-align: center;
}
#kodawari .kodawari_block .ranking {
  padding:12px 0;
  border-bottom: 1px solid #C4C4C4;
}
#kodawari .kodawari_block .corp {
  display: flex;
  align-items: flex-start;
}
#kodawari .kodawari_block .corp figure {
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  border: 1px solid #D6D6D6;
  min-width: 50px;
}
#kodawari .kodawari_block .inner {
  margin-left:20px;
  text-align: left;
  width: 95%;
}
#kodawari .kodawari_block .inner02 {
  text-align: left;
  width: 100%;
  padding: 0 3px;
}
#kodawari .kodawari_block .corp-name {
  font-size: 1.8rem;
  margin :0 0 4px 0;
}
#kodawari .kodawari_block .corp-rate {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#kodawari .kodawari_block .corp-rate p {
  font-size: 13px;
}
#kodawari .kodawari_block .star5_rating {
  letter-spacing: 0.3em;
  font-weight: 1000;
}
#kodawari .kodawari_block .corp-button a {
  color: #fff;
  background: #4AA5CE;
  padding: 1px 15px ;
  border-radius: 30px;
  width: 45%;
  min-width: 200px;
}
#kodawari .kodawari_block .pickup {
  padding:12px 0;
}
#kodawari .kodawari_block .job-name {
  font-size: 1.4rem;
  border-top: 1px solid #D6D6D6;
  color: #E5AF24;
  margin-top: 10px;
  padding-top: 10px;
}
#kodawari .kodawari_block .pickup .corp-rate {
  display: flex;
  justify-content: flex-start;
}
#kodawari .kodawari_block .pickup .corp-rate p {
  margin-right: 24px;
}
#kodawari .kodawari_block .job-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}
#kodawari .kodawari_block .job-type {
  display: flex;
  justify-content: flex-start;
}
#kodawari .kodawari_block .job-type p {
  margin-right: 10px;
  font-size: 10px;
  background: #EBEBEB;
  padding: 3px 10px;
  color: #484848;
}
#kodawari .kodawari_block .salary-location {
  display: flex;
  justify-content: flex-start;
}
#kodawari .kodawari_block .salary-location p {
  margin-left: 20px;
  font-size: 1.4rem;
  color: #484848;
}
#kodawari .kodawari_block .salary-location .location {
  display: inline-flex;
  align-items: center;
  color: #E5AF24;
}
#kodawari .kodawari_block .salary-location .location:before {
  content: '';
  display: inline-block;
  background: url(../img/icon_location02.png) no-repeat;
  background-size: contain;
  margin-right: 6px;
  width: 1em;
  height: 1em;
}
#kodawari .kodawari_block .salary-location .salary:before {
  content: '';
  display: inline-block;
  background: url(../img/icon_salary.png) no-repeat;
  background-size: contain;
  margin-right: 6px;
  width: 1em;
  height: 1em;
}
#kodawari .kodawari_block .job-discription p {
  font-size: 1.2rem;
  color: #484848;
  margin: 8px 0;
}
#kodawari .kodawari_block .serch-center {
  display: flex;
  justify-content: center;
  padding: 12px 0;
  flex-wrap: wrap;
}
#kodawari .kodawari_block .serch-center p {
  color: #484848;
  font-size: 1.4rem;
  margin: 0 20px;
  text-decoration: underline ;
}
#kodawari .kodawari_block .serch-center p a {
  color: #888888;
}
#kodawari .kodawari_block .serch-left {
  display: flex;
  padding: 6px 0;
  flex-wrap: wrap;
}
#kodawari .kodawari_block .serch-left p {
  color: #484848;
  font-size: 1.4rem;
  margin-right: 14px;
  text-decoration: underline;
}
#kodawari .kodawari_block .serch-left p a {
  color: #888888;
}
#kodawari .job-button a {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  color: #fff;
  background: #4AA5CE;
  margin: 14px auto;
  padding: 2px ;
  border-radius: 30px;
  width: 25%;
  min-width: 100px;
}


@media (max-width: 1200px) {
  /* --------------------
  #sec-high
  -------------------- */
  #sec-high .items_video {
    width: 200%;
  }

  /* --------------------
  #sec-global 
  -------------------- */
  #sec-global .items_video {
    width: 200%;
  }

}

@media (max-width: 1024px) {
  /* --------------------
  #sec-title
  -------------------- */
  #sec-title {
    min-height: 50vh;
  }

  /* --------------------
  #sec-casual
  -------------------- */
  #sec-casual {
    padding: 100px 0;
  }
  #sec-casual .items_video {
    width: 120%;
  }

  /* --------------------
  #sec-high
  -------------------- */
  #sec-high {
    padding: 50px 0;
  }
  #sec-high .items_detail {
    padding: 0 3%;
  }

  /* --------------------
  #sec-global 
  -------------------- */
  #sec-global {
    padding: 50px 0;
  }
  #sec-global .items_detail {
    padding: 0 3%;
  }
}

@media (max-width: 900px) {
  .items_detail {
    width: 70%;
  }

  /* --------------------
  #sec-casual
  -------------------- */
  #sec-casual .items_video {
    width: 130%;
  }

  /* --------------------
  #sec-high
  -------------------- */
  #sec-high .items_bg {
    width: 70%;
  }

  /* --------------------
  #sec-global
  -------------------- */
  #sec-global .items_bg {
    width: 70%;
  }
}

@media (max-width: 767px) {
  /* view */
  .v-sp {display: block;}
  .v-pc {display: none;}

  .items_h2 img {
    height: 40px;
  }
  .items_box {
    padding: 10px;
  }
  .items_box h3 {
    font-size: 20px;
  }
  .items_box h3 + p {
    font-size: 14px;
  }

  /* --------------------
  #sec-title
  -------------------- */
  #sec-title {
    height: auto;
    padding: 100px 0;
  }
  #sec-title .title_logo {
    width: 40%;
    left: 10px;
    top: 10px;
  }
  #sec-title .title_block {
    position: static;
    width: 100%;
  }
  #sec-title .title_block .inner {
    position: static;
    width: 100%;
    transform: none;
  }
  #sec-title .title_block h1 {
    width: 70%;
    margin: 0 auto 30px;
  }
  #sec-title .title_block .formbox input[type="text"],
  #sec-title .title_block .formbox input[type="password"] {
    width: 70%;
  }
  #sec-title .title_block .formbox .btnarea .btn > * {
    width: 60%;
  }
  #sec-title .menu-content {
  font-size: 1.6rem;
}

  /* --------------------
  #sec-casual
  -------------------- */
  #sec-casual {
    padding: 30px 0;
    margin: 25px 0 50px;
  }
  #sec-casual .items_detail {
    width: 100%;
    padding: 0 3%;
  }
  #sec-casual .items_video {
    width: 280%;
    right: -60%;
  }

  /* --------------------
  #sec-high
  -------------------- */
  #sec-high {
    padding: 30px 0;
    margin-bottom: 50px;
  }
  #sec-high .items_detail {
    width: 100%;
    padding: 0 3%;
  }
  #sec-high .items_bg {
    width: 100%;
  }
  #sec-high .items_video {
    width: 250%;
  }

  /* --------------------
  #sec-global
  -------------------- */
  #sec-global {
    padding: 30px 0;
    margin-bottom: 50px;
  }
  #sec-global .items_detail {
    width: 100%;
    padding: 0 3%;
  }
  #sec-global .items_bg {
    width: 100%;
  }
  #sec-global .items_video {
    top: 0;
    width: 250%;
  }

  /* --------------------
  #sec-other
  -------------------- */
  #sec-other .other_block {
    padding: 0 3%;
    display: block;
  }
  #sec-other .other_block .items_box {
    width: 100%;
  }
  #sec-other .other_block .items_box + .items_box {
    margin-top: 30px;
  }
  #sec-other .other_block .items_box h3 {
    text-align: center;
  }

  /* --------------------
  #footer
  -------------------- */
  #footer {
    border-clor: #fff;
  }
  #footer .footer_inner .copy {
    color: #fff;
    font-size: 10px;
    text-align: center;
  }
  
  
  /* --------------------
  #blog
  -------------------- */
  #blog .blog_block {
    padding: 0 10%;
    display: block;
  }
  #blog .blog_block .blog_box {
    width: 100%;
  }
  #blog .blog_block .blog_box + .blog_box {
    margin: 20px auto;
  }
	
  /* --------------------
  #kodawari
  -------------------- */
  #kodawari .kodawari_block {
    padding: 0 10%;
    display: block;
  }
  #kodawari .kodawari_block .kodawari_box {
    width: 100%;
  }
  #kodawari .kodawari_block .kodawari_box + .kodawari_box {
    margin-top: 20px;
  }
  #kodawari .kodawari_block .corp-rate p {
    display: flex;
    justify-content: space-between;
  }
  #kodawari .kodawari_block .star5_rating {
	margin-right: 500px; 
  }
  #kodawari .kodawari_block .salary-location p {
    margin: 5px 20px 0 0px;
  }
  #kodawari .kodawari_block .inner {
    min-width: 70%;
  }
  #kodawari .kodawari_block .corp-button a  {
    min-width: 60px;
	text-align: center;
  }
  #sec-title .title_block .inner .signup-login {
    padding: 0 10%;
  }
  #sec-title .title_block .inner .searchbox {
    padding: 0 10%;
  }
}